.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-left: 30px;
    margin-right: 30px;
}


.logo h1{
    color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.nav-bar h3{
    font-size: 15px;
    font-weight: 100;
}
.nav-bar{
    display: flex;
    gap: 30px;
    padding: 20px 20px;
    align-items: center;
    
}
.cv{
    background-color: var(--primary-color);
    padding: 10px 10px;
}


.headings{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.checked {
    color: orange;
  }


.texts{
    letter-spacing: 2px;
    padding: 20px 20px;
    
}
.title{
    font-size: 35px;
    padding: 10px 20px;
}
.city{
    color: var(--primary-color);
}   
.info h3{
    font-weight: 100;
    font-size: 15px;
}
.info{
    padding: 10px 20px;
}
.skills h1{
    font-weight: 100;
    
}
.skills{
    padding: 10px 20px;
}

.button{
    padding: 20px 20px;
}
.hiring{
    display: flex;
    padding: 10px 10px ;
    border: 1px solid white;
    width: fit-content;
    border-radius: 40px;
}



.port h1{
    font-size: 25px;
    font-weight: 100;
    padding: 10px 20px;
}
.port{
    background-color: var(--primary-color);
    border-radius: 30px;
    width: fit-content;
    
}


.hire-me h1{
    font-size: 25px;
    font-weight: 100;
    padding: 10px 20px;
}


.socials{
    display: flex;
    gap: 20px;
    padding: 20px 20px;
}


    
#dp{
    height: 800px;
}
